#signinbutton {
    float: right;
    margin-top: 0;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    padding: 10px;
}

.no-top-margin {
    margin-top: 0;
    font-size: 12px;
}

.container-logos div {
    display: inline-block;
}

.main-container {
    width: 400px;
    margin: 10px auto; 
    padding: 80px;
}

#signin-btn {
    
    height: 30px;
    background: #0077C5;
    color:white;
    border-radius: 5%;
    border: 1px solid #4c4c4c;
}

.sprite {
    background-image: url(../resources/mintlogos.png);
    background-repeat: no-repeat;
}

#mintlogo {
    width: 114px;
    height: 32px;
    background-position: 0 0;
    display: inline-block;
}

#justmint {
    width: 26px;
    height: 26px;
    background-position: -252px -55px;
    display: inline-block;
}

#quickbooks {
    width: 24px;
    height: 24px;
    background-position: -114px -56px;
    display: inline-block;
}

#turbotax {
    width: 23px;
    height: 24px;
    background-position: 0 -56px;
    display: inline-block;
}

#minttext {
    width: 40px;
    height: 16px;
    background-position: -280px -60px;
    display: inline-block;
}

#quickbookstext {
    width: 101px;
    height: 22px;
    background-position: -142px -57px;
    display: inline-block;
}

#turbotaxtext {
    width: 76px;
    height: 19px;
    background-position: -26px -57px;
    display: inline-block;
}

.borded-container {
    border: 1px lightgray solid;
    margin: auto;
    background: white;
}

.top-part1 {
    width: 114px;
    margin: 0 auto;
    margin-bottom: 15px;
}

body {
    background-color: #ECEEF1;
    font-family: Arial, Helvetica, sans-serif;
}

.container-logos {
    width: 315px;
    margin: 0 auto;
    margin-bottom: 15px;
}

.topsection {
    text-align: center;
}

.hotbox {
    text-align: center;
}

.footerclass {
    text-align: center;
    margin: auto; /*not wroking*/
}

.footerclass p {
    margin-top: 0;
}

.footerclass span {
    margin-left: 5px;
    margin-right: 5px;
}

footer {
    font-family: AvenirNext,Avenir,"Helvetica Neue",Helvetica,Arial sans-serif;
    font-size: 12px;
}

form {
    width: 320px;
    margin: 0 auto;
}

.f-input {
    width: 320px;
    margin-top: 15px;
    margin-bottom: 30px;
    height: 30px;
}

.f-input-nop {
    width: 320px;
    margin-top: 15px;
    height: 30px;
}

form button {
    width: 324px;
    background-color: blue;
    color: white;
}

h2{
    font-weight: normal;
    color: gray;
}

.topsection p {
    margin:0;
}

.topsection a {
    font-size: 12px;
}

form p {
    font-size: 12px;
    margin-top: 0;
    margin-bottom: 30px;

}
